Repository yanquankun/tool_platform: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check ., eslint static --ext .ts, prettier --trailing-comma none --write, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["prettier --check .", "eslint static --ext .ts"],
  "*.json": ["prettier --trailing-comma none --write"],
  "*.md": ["prettier --write"]
}

feat: 项目校验
  .eslintrc.json
  .lintstagedrc.json
  package.json
  page/test.js
  static/test.ts
  tslint.json
  yarn.lock
Due: prettier --check ., eslint static --ext .ts, prettier --trailing-comma none --write

feat: update lint rule
  .eslintrc.json
  .vscode/setting.json
  static/test.ts
Due: prettier --check ., eslint static --ext .ts, prettier --trailing-comma none --write

feat: cant use any
  .eslintrc.json
Due: prettier --trailing-comma none --write

feat: add .eslintignore
  .eslintignore
Due: none

feat: use pnpm
  nginx/tool_platform.conf
  package.json
  pnpm-lock.yaml
  yarn.lock
Due: prettier --trailing-comma none --write

feat: add webpack
  package.json
  pnpm-lock.yaml
  webpack.config.js
Due: prettier --check ., eslint static --ext .ts, prettier --trailing-comma none --write

feat: update webpack config
  webpack.config.js
Due: prettier --check ., eslint static --ext .ts

feat: webpack配置
  package.json
  static/index.ts
  tsconfig.json
  webpack.config.js
Due: prettier --check ., eslint static --ext .ts, prettier --trailing-comma none --write

feat: eslint校验增加tsx
  .lintstagedrc.json
  package.json
  static/index.tsx
Due: prettier --check ., eslint static --ext .ts, prettier --trailing-comma none --write

feat: webpack commit
  package.json
  pnpm-lock.yaml
  webpack.config.js
Due: prettier --check ., eslint static --ext .ts, prettier --trailing-comma none --write

feat: webpack commit
  static/index.tsx
Due: prettier --check ., eslint static --ext .ts

foo: update
  static/index.tsx
Due: prettier --check ., eslint static --ext .ts

feat: update
  static/index.tsx
Due: prettier --check ., eslint static --ext .ts

feat: 增加husky是否存在校验
  package.json
Due: prettier --trailing-comma none --write

feat: update readme
  README.md
Due: prettier --write

feat: 增加home
  page/.gitignore
  page/home/home.html
  static/.gitignore
  static/home/home.entry.ts
  static/index.tsx
Due: prettier --check ., eslint static --ext .ts

feat: 增加home页面
  nginx/tool_platform.conf
  package.json
  page/home/home.shtml
  pnpm-lock.yaml
  static/home/home-entry.tsx
  static/home/pages/app.tsx
  webpack.config.js
Due: prettier --check ., eslint static --ext .ts, prettier --trailing-comma none --write

feat: 工程化整理
  clearDist.sh
  package.json
  page/home/home.shtml
  pnpm-lock.yaml
  tools/file.js
  tools/util.js
  tools/webpack-tool.js
  webpack.config.js
Due: prettier --check ., eslint static --ext .ts, prettier --trailing-comma none --write

feat: webpack工程整理continue
  pnpm-lock.yaml
  tools/dist/page/main.90ec5ab74750c0c08da6.pack.js
  tools/dist/page/main.90ec5ab74750c0c08da6.pack.js.LICENSE.txt
  tools/dist/page/main.90ec5ab74750c0c08da6.pack.js.map
  tools/file.js
  tools/fileUtil.js
  tools/util.js
  webpack.config.js
Due: prettier --check ., eslint static --ext .ts

feat: webpack工程整理continue
  tools/dist/page/main.90ec5ab74750c0c08da6.pack.js
  tools/dist/page/main.90ec5ab74750c0c08da6.pack.js.LICENSE.txt
  tools/dist/page/main.90ec5ab74750c0c08da6.pack.js.map
  tools/fileUtil.js
  tools/util.js
  webpack.config.js
Due: prettier --check ., eslint static --ext .ts

feat: webpack工程整理0831 over to be continue
  tools/fileUtil.js
Due: prettier --check ., eslint static --ext .ts

feat: webpack构建entry入口获取方法
  page/test/test.shtml
  static/test/pages/app.tsx
  static/test/test-entry.tsx
  static/test2/test2.ts
  tools/fileUtil.js
Due: prettier --check ., eslint static --ext .ts

feat: webpack打包配置0901commit
  static/home/home-entry.tsx
  static/home/home2-entry.tsx
  static/home/pages/app.tsx
  static/home/pages/home.tsx
  static/home/pages/home2.tsx
  static/test/pages/app.tsx
  tools/fileUtil.js
  webpack.config.js
Due: prettier --check ., eslint static --ext .ts

chore: webpack多bundle构建over
  page/home/home.shtml
  page/home/home2.shtml
  tools/fileUtil.js
  tools/webpack-tool.js
  tools/webpackTool.js
  webpack.config.js
Due: prettier --check ., eslint static --ext .ts

chore: webpack构建优化
  .npmrc
  package.json
  page/home/home.shtml
  page/home/home2.shtml
  page/test/test.shtml
  pnpm-lock.yaml
  static/home/pages/home.tsx
  webpack.config.js
Due: prettier --check ., eslint static --ext .ts, prettier --trailing-comma none --write

chore: webpack hmtl构建暂存
  nginx/tool_platform.conf
  package.json
  page/home/home.shtml
  page/home/home2.shtml
  page/test/test.shtml
  pnpm-lock.yaml
  webpack.config.js
Due: prettier --check ., eslint static --ext .ts, prettier --trailing-comma none --write

chore: fix js压缩
  webpack.config.js
Due: prettier --check ., eslint static --ext .ts

chore: webpack构建优化
  webpack.config.js
Due: prettier --check ., eslint static --ext .ts

chore: webpack
  package.json
  page/home/home.shtml
  page/home/home2.shtml
  page/test/test.shtml
  pnpm-lock.yaml
  template/temp.shtml
  tools/fileUtil.js
  tools/webpackTool.js
  webpack.config.js
Due: prettier --check ., eslint static --ext .ts, prettier --trailing-comma none --write

chore: webpack优化
  page/home/home.shtml
  tools/webpackTool.js
  webpack.config.js
Due: prettier --check ., eslint static --ext .ts

chore: update webpack
  tools/webpackTool.js
Due: prettier --check ., eslint static --ext .ts

feat: my-blog init
  package.json
  pnpm-lock.yaml
  static/home/pages/home.tsx
  webpack.config.js
Due: prettier --check ., eslint static --ext .ts, prettier --trailing-comma none --write

feat: delete yarn.lock
  yarn.lock
Due: none
