Repository yanquankun/tool_platform: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run prettier-fix, pnpm run eslint, prettier --trailing-comma none --write, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["pnpm run prettier-fix", "pnpm run eslint"],
  "*.json": ["prettier --trailing-comma none --write"],
  "*.md": ["prettier --write"]
}

feat: 抽取重复代码,使用自定义事件完成图片展示逻辑
  page/home/resume.shtml
Due: none

feat: 提取 dom
  page/home/resume.shtml
Due: none

feat: del bad code
  page/home/resume.shtml
Due: none

feat: modify webpack.config
  webpack.config.js
Due: pnpm run prettier-fix, pnpm run eslint

feat: build 增加 ssl command
  package.json
Due: prettier --trailing-comma none --write

build: sh/deploy.sh
  sh/deploy.sh
Due: none

fix: fix blog content
  static/blog/components/blogV2/content.tsx
Due: pnpm run prettier-fix, pnpm run eslint

feat: add pwa config
  page/blog/list.shtml
  page/includes/pwa.shtml
  static/@shared/utils/util.ts
Due: pnpm run prettier-fix, pnpm run eslint

feat: 增加移动端适配界面
  package.json
  pnpm-lock.yaml
  static/blog/components/blogV2/content.tsx
  static/blog/components/blogV2/header.tsx
  static/blog/components/blogV2/slider.tsx
  static/blog/pages/blogV2.tsx
Due: pnpm run prettier-fix, pnpm run eslint, prettier --trailing-comma none --write

feat: 增加移动端适配界面
  pnpm-lock.yaml
  static/blog/components/blogV2/header.tsx
Due: pnpm run prettier-fix, pnpm run eslint

feat: 移动端标题适配
  static/blog/components/blogV2/content.tsx
Due: pnpm run prettier-fix, pnpm run eslint

feat: minio 9300/cdn/->/cdn/
  page/blog/list.shtml
  page/home/project.shtml
  page/home/resume.shtml
  page/includes/pwa.shtml
  static/@shared/components/container.tsx
  static/@shared/components/route.tsx
  static/blog/components/blogV2/header.tsx
  static/home/components/introduce.tsx
  static/home/pages/home.tsx
Due: pnpm run prettier-fix, pnpm run eslint

fix: 二级域名影响
  page/includes/pwa.shtml
Due: none

fix: 二级域名影响
  page/blog/list.shtml
Due: none

fix: 二级域名影响
  nginx/tool_platform.conf
  page/blog/list.shtml
Due: none

feat: pwa实现补充
  page/blog/list.shtml
  page/includes/pre-blog.shtml
  page/includes/pwa.shtml
  page/offline/offline.shtml
  static/@shared/utils/pwa.ts
  static/@shared/utils/util.ts
  static/blog/pages/blogV2.tsx
Due: pnpm run prettier-fix, pnpm run eslint

fix: fix style
  static/blog/pages/blogV2.tsx
Due: pnpm run prettier-fix, pnpm run eslint

build: commit
  webpack.config.js
Due: pnpm run prettier-fix, pnpm run eslint

feat: commit
  static/blog/components/blogV2/content.tsx
  static/blog/components/blogV2/header.tsx
  static/blog/components/blogV2/slider.tsx
  static/blog/interfaces/blogSidebar.ts
  static/blog/pages/blogV2.tsx
Due: pnpm run prettier-fix, pnpm run eslint

chore: url add blogid&type param
  page/blog/list-discard.shtml
  static/@shared/apis/wx.ts
  static/@shared/utils/fetch.ts
  static/blog/components/blogV3/content.tsx
  static/blog/components/blogV3/header.tsx
  static/blog/components/blogV3/localBlog.ts
  static/blog/components/blogV3/slider.tsx
  static/blog/interfaces/blogSidebarV3.ts
  static/blog/list-discard-entry.tsx
  static/blog/pages/blogV3.tsx
Due: pnpm run prettier-fix, pnpm run eslint

feat: 撤销mock
  static/@shared/apis/wx.ts
Due: pnpm run prettier-fix, pnpm run eslint

feat: add博客分享
  page/blog/list.shtml
  static/@shared/utils/util.ts
  static/blog/pages/blogV3.tsx
  static/home/pages/home.tsx
Due: pnpm run prettier-fix, pnpm run eslint

feat: 增加首页复制按钮
  page/blog/list.shtml
  static/@shared/utils/fetch.ts
  static/@shared/utils/util.ts
  static/blog/pages/blogV2.tsx
  static/home/pages/home.tsx
Due: pnpm run prettier-fix, pnpm run eslint

feat: url增加blogid
  static/blog/components/blogV2/slider.tsx
  static/blog/interfaces/blogSidebar.ts
Due: pnpm run prettier-fix, pnpm run eslint

feat: url param add name
  static/blog/components/blogV2/slider.tsx
Due: pnpm run prettier-fix, pnpm run eslint

feat: 增加noticeBr
  page/blog/list.shtml
  static/@shared/components/container.tsx
  static/@shared/components/marquee.tsx
  static/blog/components/blogV2/header.tsx
  static/blog/pages/blogV2.tsx
Due: pnpm run prettier-fix, pnpm run eslint

feat: 增加头部展示条
  static/@shared/apis/static.ts
  static/@shared/components/marquee.tsx
  static/@shared/utils/util.ts
  static/blog/components/blogV2/content.tsx
  static/blog/components/blogV2/header.tsx
  static/blog/components/blogV2/slider.tsx
  static/blog/pages/blogV2.tsx
Due: pnpm run prettier-fix, pnpm run eslint

feat: 移动端视频回显
  static/blog/components/blogV2/header.tsx
Due: pnpm run prettier-fix, pnpm run eslint

feat: 更新pwa下载按钮位置
  static/blog/pages/blogV2.tsx
Due: pnpm run prettier-fix, pnpm run eslint

feat: 博客内容图片宽度限制
  static/blog/components/blogV2/content.tsx
Due: pnpm run prettier-fix, pnpm run eslint

chore: host update
  nginx/tool_platform.conf
  page/home/project.shtml
  page/home/resume.shtml
  static/@shared/apis/static.ts
  static/@shared/components/container.tsx
  static/@shared/components/route.tsx
  static/blog/components/blogV2/header.tsx
  static/blog/pages/blogV2.tsx
  static/home/components/introduce.tsx
  static/home/pages/home.tsx
  tools/webpackTool.js
Due: pnpm run prettier-fix, pnpm run eslint

chore: add 备案
  static/blog/components/blogV2/content.tsx
Due: pnpm run prettier-fix, pnpm run eslint

feat: 聊天机器人
  static/blog/components/blogV2/chatbot.tsx
  static/blog/pages/blogV2.tsx
Due: pnpm run prettier-fix, pnpm run eslint

feat: 机器人样式修改
  static/blog/components/blogV2/chatbot.tsx
  static/blog/pages/blogV2.tsx
Due: pnpm run prettier-fix, pnpm run eslint

feat: 聊天框样式优化
  static/blog/components/blogV2/chatbot.tsx
Due: pnpm run prettier-fix, pnpm run eslint

feat: 增加聊天窗口点击外部关闭事件
  static/blog/components/blogV2/chatbot.tsx
Due: pnpm run prettier-fix, pnpm run eslint

feat: 聊天框移动端布局适配
  static/blog/components/blogV2/chatbot.tsx
Due: pnpm run prettier-fix, pnpm run eslint

feat: chat接口接入
  page/blog/list.shtml
  static/@shared/apis/ai.ts
  static/blog/components/blogV2/chatbot.tsx
  tools/webpackTool.js
Due: pnpm run prettier-fix, pnpm run eslint
