Repository yanquankun/tool_platform: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check ., pnpm run eslint, prettier --trailing-comma none --write, prettier --write

feat: blog commit
  package.json
  page/home/home.shtml
  pnpm-lock.yaml
  static/home/@types/modules.d.ts
  static/home/pages/Blog.tsx
  static/home/pages/FeaturedPost.tsx
  static/home/pages/Footer.tsx
  static/home/pages/Header.tsx
  static/home/pages/MainFeaturedPost.tsx
  static/home/pages/Markdown.tsx
  static/home/pages/Sidebar.tsx
  static/home/pages/blog-post.1.md
  static/home/pages/blog-post.2.md
  static/home/pages/blog-post.3.md
  static/home/pages/home.tsx
  webpack.config.js
Due: prettier --check ., pnpm run eslint, prettier --trailing-comma none --write, prettier --write

chore: blog commit
  .prettierrc.json
  static/home/pages/FeaturedPost.tsx
Due: prettier --check ., pnpm run eslint, prettier --trailing-comma none --write

feat: 主页更新
  package.json
  pnpm-lock.yaml
  static/home/components/container.tsx
  static/home/components/route.tsx
  static/home/pages/Blog.tsx
  static/home/pages/FeaturedPost.tsx
  static/home/pages/Footer.tsx
  static/home/pages/Header.tsx
  static/home/pages/MainFeaturedPost.tsx
  static/home/pages/Markdown.tsx
  static/home/pages/Sidebar.tsx
  static/home/pages/blog-post.1.md
  static/home/pages/blog-post.2.md
  static/home/pages/blog-post.3.md
  static/home/pages/home.tsx
  tsconfig.json
Due: prettier --check ., pnpm run eslint, prettier --trailing-comma none --write, prettier --write

feat: react render update
  static/home/home-entry.tsx
  static/home/home2-entry.tsx
  static/test/test-entry.tsx
Due: prettier --check ., pnpm run eslint

feat: home page init
  page/home/home2.shtml
  static/home/components/container.tsx
  static/home/components/route.tsx
  static/home/pages/home.tsx
  static/home/pages/home2.tsx
Due: prettier --check ., pnpm run eslint

feat: my-blog init
  static/home/home2-entry.tsx
Due: prettier --check ., pnpm run eslint

feat: my-blog init
  package.json
Due: prettier --trailing-comma none --write

feat: jenkins test
  static/home/pages/home.tsx
Due: prettier --check ., pnpm run eslint

feat: 增加架构图
  dio/架构.drawio
  dio/架构.png
  nginx/tool_platform.conf
  page/home/home2.shtml
  static/home/components/container.tsx
  static/home/components/route.tsx
  static/home/pages/home.tsx
Due: prettier --check ., pnpm run eslint

feat: 项目整理contunie
  page/home/blog.shtml
  static/home/blog-entry.tsx
  static/home/components/container.tsx
  static/home/components/route.tsx
  static/home/pages/blog.tsx
  static/home/pages/home.tsx
Due: prettier --check ., pnpm run eslint

feat: 主页整理暂存
  .eslintrc.json
  page/home/home.shtml
  static/@shared/components/.gitignore
  static/@shared/hooks/.gitignore
  static/@shared/utils/util.ts
  static/@types/global.d.ts
  static/@types/modules.d.ts
  static/home/components/container.tsx
  static/home/components/timer.tsx
  static/home/pages/home.tsx
  tools/fileUtil.js
  tsconfig.json
Due: prettier --check ., pnpm run eslint, prettier --trailing-comma none --write

feat: webpack 增加ts path alisa解析插件
  package.json
  pnpm-lock.yaml
  tools/webpackTool.js
  webpack.config.js
Due: prettier --check ., pnpm run eslint, prettier --trailing-comma none --write

feat: path alisa over
  static/@shared/components/.gitignore
  static/@shared/components/timer.tsx
  static/home/components/container.tsx
  static/home/components/route.tsx
Due: prettier --check ., pnpm run eslint

feat: blog comp init
  page/blog/blog.shtml
  static/@shared/components/container.tsx
  static/@shared/components/route.tsx
  static/blog/blog-entry.tsx
  static/blog/pages/blog.tsx
  static/home/pages/home.tsx
Due: prettier --check ., pnpm run eslint

feat: 组件结构整理
  static/blog/blog-entry.tsx
  static/blog/components/blogSidebar.tsx
  static/blog/pages/blog.tsx
  static/home/components/.gitignore
  static/home/home-entry.tsx
  static/home/pages/blog.tsx
  static/home/pages/home.tsx
Due: prettier --check ., pnpm run eslint

feat: blog暂存
  static/blog/components/blogSidebar.tsx
  static/blog/pages/blog.tsx
Due: prettier --check ., pnpm run eslint

feat: commit
  page/blog/blog.shtml
  static/@shared/components/container.tsx
  static/@shared/theme/theme.ts
  static/blog/components/blogSidebar.tsx
  static/blog/interfaces/blogSidebar.ts
Due: prettier --check ., pnpm run eslint

feat: 123
  dio/架构.png
Due: none

feat: theme 暂存
  package.json
  pnpm-lock.yaml
  static/@shared/components/container.tsx
  static/@shared/theme/theme.css
  static/@shared/theme/theme.ts
  static/blog/components/blogSidebar.tsx
  webpack.config.js
Due: prettier --check ., pnpm run eslint, prettier --trailing-comma none --write

feat: 先去掉主题功能
  static/@shared/components/container.tsx
Due: prettier --check ., pnpm run eslint

feat: blog增加文章页
  page/blog/blog.shtml
  static/blog/components/blogArticle.tsx
  static/blog/components/blogSidebar.tsx
  static/blog/interfaces/blogSidebar.ts
  static/blog/pages/blog.tsx
Due: prettier --check ., pnpm run eslint

feat: blog over
  static/blog/components/blogArticle.tsx
  static/blog/components/blogSidebar.tsx
  static/blog/interfaces/blogSidebar.ts
  static/blog/pages/blog.tsx
Due: prettier --check ., pnpm run eslint

feat: 首页暂存
  static/blog/components/blogArticle.tsx
  static/home/components/.gitignore
  static/home/components/tool.tsx
  static/home/pages/home.tsx
Due: prettier --check ., pnpm run eslint

feat: home page commit
  static/home/components/tool.tsx
Due: prettier --check ., pnpm run eslint

feat: avatar update
  static/home/pages/home.tsx
Due: prettier --check ., pnpm run eslint

feat: container修改
  static/@shared/components/container.tsx
  static/@shared/components/route.tsx
Due: prettier --check ., pnpm run eslint

feat: container修改
  page/home/home.shtml
  static/@shared/components/container.tsx
  static/@shared/components/route.tsx
  static/@shared/components/timer.tsx
  static/home/pages/home.tsx
Due: prettier --check ., pnpm run eslint

feat: add侧边抽屉
  static/@shared/components/container.tsx
Due: prettier --check ., pnpm run eslint

feat: prod build publicpath fix
  webpack.config.js
Due: prettier --check ., pnpm run eslint

feat: add skeleton
  nginx/tool_platform.conf
  page/home/home.shtml
  static/@shared/utils/init.ts
  static/@types/global.d.ts
  static/blog/blog-entry.tsx
  static/home/home-entry.tsx
Due: prettier --check ., pnpm run eslint

feat: 增加script加载提示
  page/blog/blog.shtml
  page/home/home.shtml
  static/@shared/utils/initApp.ts
  static/blog/blog-entry.tsx
  static/home/home-entry.tsx
  webpack.config.js
Due: prettier --check ., pnpm run eslint

feat: commit
  page/blog/blog.shtml
  page/home/home.shtml
  static/@shared/components/container.tsx
  static/@shared/components/route.tsx
Due: prettier --check ., pnpm run eslint

feat: add includes page
  page/blog/blog.shtml
  page/home/home.shtml
  page/includes/pre.shtml
Due: none

feat: add ssi
  nginx/tool_platform.conf
  page/blog/blog.shtml
  page/home/home.shtml
  static/@shared/components/route.tsx
  static/@shared/utils/initApp.ts
  template/temp.shtml
  tools/fileUtil.js
  webpack.config.js
Due: prettier --check ., pnpm run eslint

feat: 微信文章接口暂时commit
  static/@shared/components/container.tsx
  static/@shared/components/route.tsx
  static/home/pages/home.tsx
Due: prettier --check ., pnpm run eslint

feat: 1.add request 2.add wx http apis
  static/@shared/apis/wx.ts
  static/@shared/utils/fetch.ts
  static/home/pages/home.tsx
Due: prettier --check ., pnpm run eslint

feat: 微信文章内容获取
  static/@shared/apis/wx.ts
  static/blog/components/blogArticle.tsx
  static/blog/components/blogSidebar.tsx
  static/blog/interfaces/blogSidebar.ts
  static/blog/pages/blog.tsx
  static/home/pages/home.tsx
Due: prettier --check ., pnpm run eslint

feat: 1.blog style update 2.add 微信公众号引流图
  page/blog/blog.shtml
  page/includes/meta.shtml
  static/@shared/components/container.tsx
  static/blog/components/blogArticle.tsx
  static/blog/components/blogSidebar.tsx
  static/blog/interfaces/blogSidebar.ts
  static/blog/pages/blog.tsx
  static/home/pages/home.tsx
Due: prettier --check ., pnpm run eslint

Path conditions:
  prettier --check .: any of: *.{ts,tsx,js,jsx}
  pnpm run eslint: any of: *.{ts,tsx,js,jsx}
  prettier --trailing-comma none --write: any of: *.json
  prettier --write: any of: *.md
